<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="otang.crashreport">

    <application>
        <activity
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:name="otang.crashreport.activity.DefaultErrorActivity"
            android:exported="true"
            android:process=":error_activity" />

        <provider
            android:name="otang.crashreport.provider.CrashInitProvider"
            android:authorities="${applicationId}.crashinitprovider"
            android:exported="true"
            android:initOrder="101" />
    </application>

</manifest>
